*{
  box-sizing:border-box;
  font-family:"Poppins",sans-serif;
}


body{
  margin:0;
  background:linear-gradient(
    135deg,
    #ffe6f5,
    #eadcff
  );
}



.app{

  min-height:100vh;

  padding:25px;

  color:#3b2358;

}



.app.dark{

  background:#1d102b;

  color:white;

}



/* HEADER */

.header{

  display:flex;

  justify-content:space-between;

  align-items:center;

  margin-bottom:30px;

}



.header h1{

  color:#9b5de5;

  font-size:38px;

}



.header-buttons{

  display:flex;

  gap:12px;

}



.header-buttons button{

  position:static;

}





/* BUTTON */

button{

  background:linear-gradient(
    135deg,
    #9b5de5,
    #f15bb5
  );

  color:white;

  border:none;

  padding:12px 25px;

  border-radius:12px;

  cursor:pointer;

  font-weight:bold;

}



button:hover{

  transform:scale(1.05);

}/* CARDS */

.cards{

  display:grid;

  grid-template-columns:repeat(3,1fr);

  gap:25px;

  margin-bottom:35px;

}



.card{

  background:white;

  padding:25px;

  border-radius:20px;

  text-align:center;

  box-shadow:

  0 8px 20px rgba(155,93,229,0.25);

}



.card h3{

  color:#f15bb5;

}



.card p{

  font-size:28px;

  font-weight:bold;

  color:#9b5de5;

}





/* BOX */

.box{

  background:white;

  padding:25px;

  border-radius:20px;

  margin-bottom:25px;

  box-shadow:

  0 8px 20px rgba(241,91,181,0.2);

}



.box h2{

  color:#9b5de5;

}





/* INPUT */

input,
select{

  height:55px;

  padding:12px;

  border-radius:12px;

  border:1px solid #ddd;

  font-size:15px;

}





/* INCOME */

.income-row{

  display:flex;

  gap:15px;

}



.income-row input{

  flex:1;

}





/* EXPENSE FORM */

.expense-form-row{

  display:grid;

  grid-template-columns:repeat(4,1fr);

  gap:15px;

  margin-bottom:20px;

}



.expense-form-row input,
.expense-form-row select{

  width:100%;

}


/* CHART */

.chart-section{

  width:100%;

  display:flex;

  justify-content:center;

  align-items:center;

  flex-direction:column;

  margin:25px 0;

}



.pie-container{

  width:230px;

  height:230px;

}



.pie-container canvas{

  width:230px !important;

  height:230px !important;

}






/* CHART LABEL */

.chart-info{

  display:flex;

  justify-content:center;

  gap:25px;

  margin-top:15px;

}



.chart-info div{

  display:flex;

  align-items:center;

  gap:8px;

  font-weight:bold;

}



.chart-info span{

  width:14px;

  height:14px;

  border-radius:50%;

  display:inline-block;

}



.income-box span{

  background:green;

}



.expense-box span{

  background:#f15bb5;

}







/* TRANSACTION HISTORY */

.transaction-section{

  background:white;

  padding:25px;

  border-radius:20px;

  margin-top:25px;

  box-shadow:

  0 8px 20px rgba(155,93,229,0.2);

}



.transaction-section h2{

  margin-top:0;

  margin-bottom:20px;

  color:#9b5de5;

}



.search-box{

  width:100%;

  margin-bottom:20px;

}





.transaction-item{

  display:flex;

  justify-content:space-between;

  align-items:center;

  background:#fff0fa;

  padding:15px;

  border-radius:15px;

  margin-bottom:12px;

}



.transaction-item h3{

  margin:0;

  color:#9b5de5;

}



.transaction-item p{

  margin:5px 0 0;

}





.transaction-right{

  display:flex;

  align-items:center;

  gap:12px;

}




.income-text{

  color:green;

  font-weight:bold;

  font-size:18px;

}



.expense-text{

  color:#f15bb5;

  font-weight:bold;

  font-size:18px;

}




/* DELETE BUTTON */

.delete-btn{

  background:#ff4d6d;

  padding:6px 10px;

  font-size:12px;

  border-radius:8px;

}



.delete-btn:hover{

  background:#d90429;

}
/* DARK MODE */


.app.dark .card,
.app.dark .box,
.app.dark .transaction-section{

  background:#2b1b3d;

  color:white;

}



.app.dark .card h3,
.app.dark .box h2,
.app.dark .transaction-section h2{

  color:#d8b4fe;

}



.app.dark .card p{

  color:white;

}



.app.dark .transaction-item{

  background:#3a2550;

}



.app.dark .transaction-item h3{

  color:#d8b4fe;

}



.app.dark input,
.app.dark select{

  background:#1d102b;

  color:white;

  border:1px solid #777;

}



.app.dark input::placeholder{

  color:#ddd;

}






/* MOBILE */

@media(max-width:900px){


.cards{

  grid-template-columns:1fr;

}



.expense-form-row{

  grid-template-columns:1fr;

}



.income-row{

  flex-direction:column;

}



.header{

  flex-direction:column;

  gap:15px;

}



.header h1{

  font-size:30px;

}



.header-buttons{

  width:100%;

  justify-content:center;

}



.transaction-item{

  flex-direction:column;

  align-items:flex-start;

  gap:10px;

}



.transaction-right{

  width:100%;

  justify-content:space-between;

}



.pie-container{

  width:200px;

  height:200px;

}



.pie-container canvas{

  width:200px !important;

  height:200px !important;

}


}