*{
  box-sizing:border-box;
  font-family:"Poppins",sans-serif;
}



.login-container{

  min-height:100vh;

  display:flex;

  justify-content:center;

  align-items:center;

  background:linear-gradient(
    135deg,
    #c77dff,
    #7b2cbf,
    #5a189a
  );

}



.login-box{

  width:360px;

  padding:40px 35px;

  background:white;

  border-radius:30px;

  text-align:center;

  box-shadow:
  0 20px 40px rgba(0,0,0,0.25);

}



.logo{

  font-size:60px;

  margin-bottom:10px;

}



.login-box h2{

  color:#5a189a;

  font-size:30px;

  margin:10px 0 25px;

}



.login-box input{

  width:100%;

  padding:15px;

  margin:12px 0;

  border-radius:15px;

  border:1px solid #d8b4fe;

  background:#faf5ff;

  font-size:15px;

}



.login-box input:focus{

  outline:none;

  border:2px solid #9d4edd;

}



.login-box button{

  width:100%;

  padding:15px;

  margin-top:20px;

  border:none;

  border-radius:15px;


  background:linear-gradient(
    135deg,
    #9d4edd,
    #5a189a
  );


  color:white;

  font-size:17px;

  font-weight:bold;

  cursor:pointer;

}



.login-box button:hover{

  transform:scale(1.03);

}



.login-box p{

  margin-top:25px;

  color:#555;

}



.link{

  color:#7b2cbf;

  cursor:pointer;

  font-weight:bold;

}



.link:hover{

  text-decoration:underline;

}